<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
    <link rel="stylesheet" href="static/styles/welcome.css"> <!-- Asegúrate de que la ruta sea correcta -->
</head>
<body>
    <div class="container">
        <h1>Bienvenido, {{ name }}😎</h1>
        <p>Estás en una página protegida.🛡️</p>
        <a href="/logout">Cerrar sesión</a>
    </div>
</body>
</html>

